/* ---Google Fonts--- */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* ---Typography--- */
.text__center {
  text-align: center;
}
.text-style-1 {
  font-weight: bold;
  font-size: 70px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #094b72;
  font-family: "Playfair Display", serif;
}
.text-style-2 {
  margin: 1rem 0rem;
  font-weight: 600;
  font-size: 24px;
  line-height: 158%;
  letter-spacing: 0.5px;
  color: #4f4f4f;
  font-family: "Plus Jakarta Sans";
}
.text-style-3 {
  font-family: "Plus Jakarta Sans";
  font-size: 22px;
  line-height: 140.5%;
  letter-spacing: 0.04em;
  color: #8b8c8c;
  margin: 2rem 0rem;
}
.text-style-4 {
  font-family: "Plus Jakarta Sans";
  font-size: 1rem;
  color: #8b8c8c;
}
.text__weight__1 {
  font-weight: bolder;
}

/* -------Shadow Effect------- */
.shadow__style__1 {
  background: #fcfcfc;
  box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 1.4rem;
}

/* ----------Responsive Image------ */
img {
  max-width: 100%;
  height: auto;
}
/* ---navbar--- */
.navbar {
  font-family: Poppins;
  font-style: normal;
  padding: 1rem;
}
.brand-logo {
  width: 50px;
  height: 50px;
  background-color: #094b72;
  color: #ffffff;
  font-size: 20px;
  border-radius: 50%;
  padding: 0.6rem;
}
.navbar-brand {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 1.5px;
  color: #2d2f30;
  mix-blend-mode: normal;
}
.navbar-nav li {
  margin: 0rem 1rem;
  font-size: 12px;
  line-height: 23px;
  letter-spacing: 1.5px;
  color: #2d2f30;
}

/* --button-- */
.btn {
  width: 200px;
  height: 60px;
  background: #094b72;
  border-radius: 8px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 140.5%;
  letter-spacing: 0.08em;
  margin: 1rem 0rem;
  color: #f9f8f9;
}

/* ---------Layout--------- */
/* 1.Grid Layout */
.grid__col__3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
}
.grid__col__4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
.grid__col__6 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
.grid__row__2 {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
.grid__row__3 {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

/* -------Flex Layout-------- */
.flex__1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* ====================main part================ */

/* -----------------introduction Section-------------- */
.introduction {
  position: relative;
  background: #f9f8f9;
}
.introduction .container {
  padding-top: 10rem;
}
.introduction .container,
.introduction__brands {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
.introduction-content-area {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
.introduction-img img {
  margin-top: -35%;
}

@media all and (max-width: 425px) {
  .introduction .container {
    padding-top: 5rem;
  }
  /* --Typograpy-- */
  .text-style-1 {
    font-size: 2.5rem;
  }
  .text-style-1,
  .text-style-2,
  .text-style-3 {
    text-align: center;
  }
  /* --Button-- */
  .btn__container {
    text-align: center;
  }
  .introduction .container {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }
  .introduction__brands img {
    display: block;
    margin: 0 auto;
  }
  .introduction-img img {
    margin-top: -12rem;
  }
}

/* ----------Service Section---------- */
.service {
  background: #f2fcff;
  padding: 7% 0%;
}
.service__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  text-align: center;
}

@media all and (max-width: 425px) {
  .service .grid__col__6 {
    grid-template-columns: repeat(1, 1fr);
  }
  .service img {
    display: block;
    margin: 0 auto;
  }
}

/* -----------Outlook Section--------- */
.outlook {
  position: relative;
  background: #1282a6;
  padding: 7% 0%;
  text-align: center;
  color: #ffffff;
}

.outlook .grid__col__3 {
  margin-left: 17%;
}
.outlook .grid__col__3 > div {
  border-right: 1px solid #8b8c8c;
}
.outlook .grid__col__3 > div:nth-child(3) {
  border-right: none;
}
@media all and (max-width: 425px) {
  .outlook .grid__col__3 p {
    font-size: 10px;
  }
}

/* -------------Testimonial------------- */
.testimonial {
  background: #f4fbff;
  padding: 7% 0%;
}
.flex__1 > div {
  margin: 0rem 0.5rem;
}
@media all and (max-width: 425px) {
  .testimonial .grid__col__6 {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* ------------Contact Section---------- */
.contact {
  padding: 5% 0%;
}
.contact img {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}
@media all and (max-width: 425px) {
  .contact .grid__col__6 {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* =============Footer================ */
/*----Big Footer---- */
.big-footer {
  background: #0f6e8c;
  padding: 5% 0%;
  color: white;
}
ul li {
  list-style-type: none;
  margin: 1rem 0rem;
}
@media all and (max-width: 425px) {
  .navbar-brand {
    text-align: center;
  }
  .big-footer .row {
    grid-template-columns: repeat(1, 1fr);
  }
  .big-footer .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  .big-footer .row > div {
    margin: 1rem;
  }
}

/* --------Small Footer Section------- */
.small-footer {
  background: #05546d;
  padding: 1% 0%;
  color: white;
}

@media all and (max-width: 425px) {
  .small-footer .grid__col__6 {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
}
